<!DOCTYPE html>
<html >
<! --From http://codepen.io/frytyler/pen/FGdtg-->
<head>
    <meta charset="UTF-8">
    <title>Machine Learning API</title>
    <link rel="stylesheet" href="http://fonts.googleeapis.com/css?family=Pacifico" type="text/css">
<link rel="stylesheet" href="http://fonts.googleeapis.com/css?family=Arimo" type="text/css">
<link rel="stylesheet" href="http://fonts.googleeapis.com/css?family=Hind:300" type="text/css">
<link rel="stylesheet" href="http://fonts.googleeapis.com/css?family=Open+Sans+Condensed:300" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>  

<body>
  <div class="login">

      <h1>
          Predict Fish Species 
      </h1>
      <form action="{{ url_for('predict')}}"method="post">
          <input type="text" name="Weight" placeholder="Weight" required="required" />
          <input type="text" name="Length1" placeholder="Length 1" required="required" />
          <input type="text" name="Length2" placeholder="Length 2" required="required" />
          <input type="text" name="Length3" placeholder="Length 3" required="required" />
          <input type="text" name="Height" placeholder="Height" required="required" />
          <input type="text" name="Width" placeholder="Width" required="required" />

          <button type="submit" class="btn btn-primary btn-block btn-large">Predict
              
          </button>
      </form>
    <br>
    <br>
    {{ predict_text }}
  </div>  

</body>
</html>